{% extends 'base.html' %}


{% block title %}All Hotels{% endblock title %}
<!-- header  -->
{% block header %} {% include 'header.html' %}{% endblock header %}
<!-- header  -->

<!-- welcome -->
{% block welcome %}{% include 'welcome.html' %}{% endblock welcome %}
<!-- welcome -->


{% block content %}
<hr>
<section class="info mt-5">
    <div class="container">
        <div class="text-center mb-3">
            <h2><i class="fa-solid fa-location-pin"></i> LOCATIONS</h2>
        </div>

        <div class="row justify-content-center gy-5 gx-4 ">
            
            {% if all_hotels %}
            {% for item in all_hotels %}
            <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-4">
                <div class="card">
                  <a href="#"><img src="{{item.image.url}}" class="card-img-top"></a>
                  <div class="card-body ">
                    <h3 class=" text-center">{{item.name|title}}</h3>
                    <h4 class=" text-center">{{item.location|title}}</h3>
                    <a href="#"><p class="card-text text-truncate">{{item.details|title}}</p></a>
                  </div>
                </div>
              </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr>
  </section>

      {% endblock content %}
    
<!--- footer -->
{% block footer %} {% include 'footer.html' %}{% endblock footer %}
<!--- footer done -->