<nav class="navbar navbar-light fixed-top mb-5 hotspot">
    <div class="container-fluid">
        <a class="nav-item dropdown nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu">
            {% if  request.user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'signout' %}">Logout</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'signin' %}">Log in</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'signup' %}">Sign up</a></li>      
            {% endif %}  
          </ul>

      <a class="navbar-brand" href="{% url 'index' %}">HoTSpoTs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span ><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">HoTSpoTs</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Contact</a>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Locations
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                {% if locations %}
                        {% for item in locations %}
                            <li><a class="dropdown-item" href="{% url 'location' item.id %}">{{item.loc_name|title}}</a></li>
                        {% endfor %}
                    {% endif %}
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  
  {% if messages %}
    {% for item in  messages %}
      <div class="alert alert-secondary text-black alert-dismissible fade show mb-0" role="alert">
          <strong>{{item}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
    